.modal.fade#warning-program{"aria-labelledby" => "gridSystemModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.bg-warning
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#gridSystemModalLabel.modal-title=t('warning')
      = simple_form_for(current_user, url: '/users', html: {class: 'program-warning-form'}) do |f|
        .modal-body
          %p Programs change how your organization supports individuals, tracks services, and reports outcomes. Please make sure you are an authorized staff member and have completed training before using this tool.
          .form-inputs
            = f.input :program_warning, label: "Don't show this warning again", input_html: { class: 'i-checks' }
        .modal-footer
          = f.button :submit, t('ok'), class: 'btn btn-danger'
          %button.btn.btn-default{"data-dismiss" => 'modal'}= t('back')
