.row
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    .ibox.normal-space
      .ibox-title
        %h3 Your recovery codes
      .ibox-content
        %p.text-success
          %i.fa.fa-lock
          Two-factor authentication is now <strong>ON</strong>.
        .alert.alert-warning
          %strong Save these recovery codes now.
          Each can be used once to sign in if you lose access to your authenticator. They will not be shown again.
        %ul.list-unstyled
          - @codes.each do |code|
            %li
              %code= code
        %hr
        = link_to 'Done', two_factor_settings_path, class: 'btn btn-primary'
